.container-profile {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;

  .content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 80%;
    z-index: 10;
    margin: 0 auto;
    justify-self: center;
    justify-content: center;
    padding: 3rem 2rem;
    height: max-content;
    display: flex;
    flex-direction: column;

    .cross {
      display: flex;
      justify-content: end;
    }

    .info {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      height: 100%;

      .profile-text {
        margin: auto;
        text-align: left;
        padding: 1rem;
        border-radius: 10px;

        h2 {
          font-weight: bolder;
          text-shadow: 2px 2px 3px #000000;
          font-size: 2rem;
          margin-bottom: 0.5rem;

        }

        p {
          text-shadow: 2px 2px 3px #000000;
        }

        .sub-title {
          display: flex;
          justify-content: space-evenly;

          p {
            small {
              color: #00fc87;
            }
          }
        }
      }

      .profile-img {
        ul {
          li {
            list-style: none;
          }
        }

        display: flex;
        justify-content: center;
        align-content: center;
        .img-container{
          width: 100%;
          height: 100%;
          img {

            width: 90%;
            border-radius: 10px;

          }
        }

      }
    }
  }
}
