.container-profile{
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;

  margin: 0 auto;
  padding: 10px;
  position: relative;
    .sub-title{
      display: flex;
      justify-content: space-evenly;
  }

  .content{
    text-align: left;
    background-color: rgba(0,0,0,0.6);
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    .cross{
      cursor: pointer;
      display: flex;
      position: absolute;
      top: 8rem;
      right: 1rem;
      font-weight: bold;
      font-size: 2rem;
    }

    p{
      small{
        color: #00fc87;
      }
    }

    display: grid;
    z-index: 10;
    grid-template-columns: repeat( auto-fit,minmax(400px,1fr));
    margin: 0 auto;
    justify-self: center;
    justify-content: center;
    padding: 3rem 2rem;
  }
  .profile-text, .profile-img{
    margin-top: 0;
    height: 80%;
    width: 90%;
    align-items: center;


    img{

      border-radius: 10px;
      width: 50%;
      margin: auto;
      display: flex;


    }

  }



  .profile-img{


  }
  .profile-text{

    text-align: left;

    padding: 1rem;
    border-radius: 10px;

    h2{
      font-weight: bolder;
      text-shadow: 2px 2px 3px #000000;
      font-size: 2rem;
      margin-bottom: 0.5rem;

    }
    p{
      text-shadow: 2px 2px 3px #000000;
    }
  }
}




